<ul>
  <% @kittens.each do |kitten| %>
    <li><%= link_to kitten.name, kitten_path(kitten) %> [
      <%= link_to "Edit", edit_kitten_path(kitten) %> |
      <%= link_to "Delete", kitten_path(kitten), method: :delete,
        data: { confirm: "Are your sure?" } %> ]</li>
  <% end %>
</ul>

<%= link_to "Add kitten", new_kitten_path, class: "btn btn-primary" %>
