<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <div class="row">
      <h1 class="display-4">
        <%= link_to "Kittens!", root_path, class: "brand-name" %>
      </h1>
    </div>
  </div>
</nav>
